{% extends 'base.html.twig' %}

{% block title %}Evaluation PHP/Symfony Aymeric Art{% endblock %}

{% block body %}
     <div class="example-wrapper">
        Cette page n'est pas très utile pour le moment.
    </div>
{% endblock %}
